table {
   
   
    width: 100%;
    font-size: 10px;
}
thead th {
   
    border: #AAA solid 1px;
    font: outline;
}
table tr, th, td {
    border-right: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
}
table tr td {
    width: 10%;
}
table tr td+td {
    width: 30%;
}
table tr td+td+td {
    width: 60%;
}
.col1{
    width: 40%;
}
.logo{
    width: 10%;
    height:20px;
    text-align: center;
    border: #FFF;
}
.bodyheader{
    text-align: center;
    border: #FFF;
}
.titleheader{
   font-size: 20px;
}
.corpoheader{
   font-size: 10px;
}